Repository owncloud/data_exporter, pull requests merged in 2018-11, with the labels that each got.

#50 failOnWarning="true" strict="true"
  phpunit.xml
Labels: 3 - To review

#51 Adjust acceptance test steps changed in core
  tests/acceptance/features/bootstrap/DataExporterContext.php
  tests/acceptance/features/cliDataExporter/importUser.feature
Labels: 4 - To release, QA-Team, dev:acceptance-tests

#52 Adjust user creation test steps
  tests/acceptance/features/cliDataExporter/exportFiles.feature
Labels: 4 - To release, QA-Team, dev:acceptance-tests

#53 Rename PHPDBG to PHPUNITDBG in Makefile
  Makefile
Labels: 4 - To release, QA-Team
